# Overview
The purpose of this project is to provide a code example to US Foods as part of the application proccess for the Associate Decision Scientist Role.

## Business Case
For the sake of simplicity this project will aim to answer the question "Where is US Foods losing sales to our largest competitor."

## Project Overview
This particular project will focus on EDA, visualization, and use of required tools rather than any sort of modeling techniques, but I am happy to apply more advance techniques to this test case if I am misunderstanding the brief. I have joined and queried tho original data in BigQuery. That code sample can be found [here](https://console.cloud.google.com/bigquery?sq=737860077884:bc2118241c7f47e78c6de0419ba0c6ed)

In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [117]:
usf_data = pd.read_csv("Data/usf_data.csv")

## EDA/ Basic Cleaning

In [118]:
usf_data.head()

,REPORTED_WKLY_SPEND,REPORTED_WKLY_SPEND_USF,REPORTED_WKLY_SPEND_COMPETITOR_1,REPORTED_COP_SPEND,REPORTED_PRODUCE_SPEND,SMALL_QTY_RANK,DEL_FLEX_RANK,CUT_TIME_RANK,CUST_NBR,DIV_NBR,PYR_SEG_CD
0,9479.075269,7791.020769,0.000000,4064.315835,1707.532052,0,0,0,84639,48,Hospitality
1,2688.356382,2570.130385,102.805215,1858.204268,4.626235,0,0,0,152945,16,Regional
2,1028.640941,734.743529,0.000000,440.846118,257.160235,0,0,0,85492,2,Other
3,125952.856200,25952.856150,100000.000000,80000.000000,20000.000000,0,0,0,83150,52,Other
4,24267.451730,16267.451730,0.000000,21600.000000,7200.000000,0,0,0,129109,3,Independent Restaurant

In [119]:
spend_values = pd.DataFrame(usf_data['REPORTED_WKLY_SPEND'].value_counts())

In [120]:
#this table reveals a number of what I think are placeholder values 
#including a number that I picked up while exploring the spreadsheet
#there are a number of exact entries that follow a similar pattern (1001,2001,3001 etc.)
#the math on these entries does not add up properly so I will drop them as well as 1.000 values
spend_values.head()

              REPORTED_WKLY_SPEND
1.000000                      178
1336.702308                     4
1381.663846                     4
13023.918650                    4
1001.000000                     4

In [121]:
# Convert the "REPORTED_WKLY_SPEND" column to string type
usf_data.loc[:, 'REPORTED_WKLY_SPEND'] = usf_data['REPORTED_WKLY_SPEND'].astype(str)

# Drop rows where the column value ends with ".000000" (shortened to .0 when converted to string)
usf_data = usf_data.loc[~usf_data['REPORTED_WKLY_SPEND'].str.endswith('.0')]

# Convert the "REPORTED_WKLY_SPEND" column back to float type if needed
usf_data['REPORTED_WKLY_SPEND'] = usf_data['REPORTED_WKLY_SPEND'].astype(float)

In [122]:
#verifyin that the proper values have been dropped
usf_data['REPORTED_WKLY_SPEND'].value_counts()

13023.918650    4
876.985192      4
1381.663846     4
1336.702308     4
4344.482885     3
               ..
2766.350769     1
21.605769       1
1362.935769     1
6286.943077     1
1624.156364     1
Name: REPORTED_WKLY_SPEND, Length: 2002, dtype: int64

In [123]:
#creating percentage based values for each customers order mix
usf_data['usf_pct'] = usf_data['REPORTED_WKLY_SPEND_USF']/usf_data['REPORTED_WKLY_SPEND']
usf_data['comp_1_pct'] = usf_data['REPORTED_WKLY_SPEND_COMPETITOR_1']/usf_data['REPORTED_WKLY_SPEND']

In [127]:
usf_data.to_csv('Data/usf_tableau')

### Conclusion
More could be done here, but I will save this portion of the work process in order to work with Tableau.